@import './src/styles/settings/_mixins.scss';

.container {
  .content {

    display: flex;
    justify-content: center;
    align-items: center;

    .img_section {
      max-width: 50%;

      img {
        width: 50%;
      }

      .chilling {
        width: 70%;
        height: 70%;
        margin-left: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    .welcome_section {
      max-width: 50%;
      display: flex;
      position: center;
      align-items: center;
    }

    h1 {
      padding: 15px 15px;
      width: 70%;
      height: 70%;
    }

    @include big-btn;
  }
}


