@import './src/styles/settings/_mixins.scss';

.container {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
   // flex-direction: column;

    .img_section {
      max-width: 50%;
     // width: 60%;
     // height: 60%;
      margin-left: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      img {
        //width: 40%;
        width: 100%;
        height: auto;
      }

      .chilling {
        width: 60%;
        height: 60%;
      }
    }

    .welcome_section {
      // max-width: 50%;


      .big-btn {
      @include big-btn;
        margin-top: 20px;
        padding: 30px;
        //text-align: center;
     }
    }

    h1 {
      padding: 15px 15px;
      width: 70%;
      height: 70%;
    }
  }
    @include big-btn;
}


