@import './src/styles/settings/_colors.scss';
@import './src/styles/settings/_mixins.scss';

.container {
  .CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 70%;

      p {
        font-family: $font-noto;
        padding: 20px 20px;
        margin-right: 80px;
        max-width: 50%;
        line-height: 1.75rem;
      }

    @include big-btn;

    }
  }
